body {
    padding: 0;
    margin: 0;
}

#attributions {
    background-color: #343a40;
    color: #fff;
}

#map,
body,
html {
    height: 94%;
    width: 100vw;
}

.btn-outline-primary {
    color: #ff5e00;
    border-color: #ff5e0085;
    margin: 5px;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #ff8100;
    border-color: #f8f9fa;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #ff9933;
}


#vb {
    margin-right: 20px;
}

/* css to customize Leaflet default styles  */
.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: #ffb3b3;
    color: #660000;
}

.vacantlarge {
    background-color: #C26B3E;
        color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
}

.vacantmedium {
    background-color: #C26B3E;
        color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;

}

.vacantsmall {
    background-color: #C26B3E;
        color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;

}

.occupiedlarge {
    background-color: #B04A46;
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
}

.occupiedmedium {
    background-color: #B04A46;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;

}

.occupiedsmall {
    background-color: #B04A46;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;

}

.occupied .marker-cluster-large {
    background-color: rgba(153, 51, 51, 0.6);
}

.occupied .marker-cluster-medium {
    background-color: rgba(204, 0, 0, 0.6);
}

.occupied .marker-cluster-small {
    background-color: rgb(255, 80, 80, 0.6);
}